---
layout: page
title: Site Map
---

<h2>Pages</h2>

<ul>
<li>
{% comment %}This is a complete mess, but it manages to nest to second level, which is enough for now.{% endcomment %}
{% assign pages = site.html_pages | where_exp:'doc','doc.url != "/404.html"' | sort:'url' %}
{% assign url = nil %}
{% assign inlist = nil %}
{% for page in pages %}
{% unless page.url contains "/page/" %}
{% if url != nil %}
{% if url != "/" %}
{% assign check = page.url | split: url %}
{% if check[0] == "" %}
<ul>
{% assign inlist = url %}
{% else %}
</li>
{% assign checklist = page.url | split: inlist %}
{% if inlist != nil and checklist[0] != "" %}
</ul>
{% endif %}
{% endif %}
{% else %}
</li>
{% endif %}
<li>
{% endif %}
<a href="{{ page.url }}">{{ page.title | default: 'Home' | markdownify | remove: '<p>' | remove: '</p>' | strip }}</a>
{% assign url = page.url %}
{% endunless %}
{% endfor %}
</li>
</ul>

<h2>Showcase</h2>

{% assign gh_pages = site.github.public_repositories | where_exp:'repo','repo.has_pages == true' | where_exp:'repo','repo.fork == false' %}
{% if gh_pages.size %}
<ul>
{% for gh_page in gh_pages %}{% unless gh_page.name == site.github.repository_name %}
<li><a href="{{ gh_page.name | prepend: '/' | append: '/' }}">{{ gh_page.description | default: gh_page.name }}</a></li>
{% endunless %}{% endfor %}
</ul>
{% endif %}

<h2>Categories</h2>

<ul>
{% for category in site.blog_categories %}
<li><a href="{{ category.url }}">{{ category.name }}</a></li>
{% endfor %}
</ul>


<h2>Posts</h2>

{% assign year = site.posts | map: 'date' | first | date: '%Y' %}

<h3>{{ year }}</h3>
<ul>
{% for post in site.posts %}
{% assign newyear = post.date | date: '%Y' %}
{% if newyear != year %}
</ul>

<h3>{{ newyear }}</h3>

<ul>
{% endif %}
<li><a href="{{ post.url }}">{{ post.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</a></li>
{% assign year = newyear %}
{% endfor %}
</ul>
