#clock {
    text-align: center;
    color: #f0f0f0;
    font: 50px "DejaVu Sans Mono", "Monaco", "Lucida Console", monospace;
    margin-bottom: 2rem;
}

#clock p {
    text-align: center;
    margin: 0;
}

.lit, .is {
    color: var(--color-fg);
}

#sec.lit {
    color: var(--color-primary);
}

@media (max-width: 480px) {
    #clock {
        font-size: 30px;
    }
}

@media (prefers-color-scheme: dark) {
    #clock {
        color: #352e2e;
    }
}
