figure {
    margin: 3rem auto;

    &.fl-right {
        clear: right;
        float: right;
        margin: 0 0 1em 40px;
    }

    &.fl-left {
        float: left;
        clear: left;
        margin: 0 40px 1em 0;
    }

    &.fl-none.fig--std :is(img, object) {
        max-width: 50%;
    }

    &.fl--small {
        max-width: 240px;
        font-size: 0.8em;
    }
}


.page__title {
    margin: 2rem auto 1em;
}

.showcase-actions {
    margin-top: -2em;
}

.search {
    margin: -2em auto 2em;
}

.footnotes .reversefootnote {
    font-size: 1em;
}

footer .copy .powered {
    display: inline;
}


/***********
CODE STYLING
************/
.post--full {
    div.highlighter-rouge {
        margin: 0;
    }

    li div.highlighter-rouge {
        margin-left: -40px;
    }
}

pre.highlight {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;

    .overflow  & {
        max-height: 30em;
    }
}
