figure {
    margin: 3rem auto;

    &.fl-right {
        clear: right;
        float: right;
        margin: 1em 0 1em 40px;
    }

    &.fl-left {
        float: left;
        clear: left;
        margin: 1em 40px 1em 0;
    }
}

.page__title {
    margin: 2rem auto 1em;
}

.showcase-actions {
    margin-top: -2em;
}

.search {
    margin: -2em auto 2em;
}

.highlight {
    padding: 10px;
}

footer .copy .powered {
    display: inline;
}
