/***************
GLOBAL STYLES
***************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    line-height: 1.75;
    overflow-x: hidden;
    margin: 0;

    p , ul {
        margin: 0 0 2rem;
    }

    ul ul, ol ul, ol ol, ul ol {
        margin-bottom: 0;
    }
}


// Media Styling
img, video, audio, iframe, object {
    max-width: 100%;
}

figure {
    margin: 1rem auto;
    text-align: center;

    figcaption {
        text-align: center;
        font-size: .9em;
    }

    img {
        margin: 0 auto;
        display: block;
    }
}

// Layout
.container {
    max-width: 610px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}


/***************
MENU STYLING
***************/

.nav-toggle {
    @extend %screen-only;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    touch-action: manipulation;
    cursor: context-menu;
    user-select: none;
    line-height: 2em;
    font-size: inherit;
    margin-top: .5em;
    border-width: 0;
    border-radius: 4px;
    padding: 0 .5em;
    text-decoration: none;
    position: absolute;
    right: max(env(safe-area-inset-right, 0px), 2rem);

    @media (prefers-reduced-motion: no-preference) {
        transition: all 0.2s ease-in-out;
    }
}

.nav-collapse {
    position: relative;
    clear: both;
    display: block;
    width: 100%;

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;

        li {
            width: 100%;
            display: block;

            a {
                text-decoration: none;
                display: block;
                padding: 5px max(env(safe-area-inset-right, 0px), 2rem) 5px max(env(safe-area-inset-left, 0px), 2rem);
            }
        }
    }
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    overflow: hidden;
    zoom: 1;
    z-index: 1;

    @media (prefers-reduced-motion: no-preference) {
        transition: max-height 260ms ease 0s;
    }
}

.nav-toggle[aria-expanded="true"] + .nav-collapse {
    max-height: 9999px;
}

.nav-collapse.open {
    position: relative;
}


/***************
LIST STYLING
***************/

.list--inline {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

dt {
    margin-top: 1.5rem;

    & + & {
        margin-top: 0;
    }
}

dd {
    margin-left: 0;
}

.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol {
    margin: 0;
}


/***************
PAGE STYLES
***************/

.page__title {
    margin: 1rem auto;
    text-align: center;
}

.showcase-actions {
    @extend %screen-only;
    margin-bottom: 1em;
    text-align: center;
}

.showcase__status {
    display: block;
}

.content {
    padding-top: 1em;
}

/***************
HEADER STYLING
***************/

.header {
    background-image: url('../img/tiki-800w.jpg');
    background-size: cover;
    background-position: center 40%;
    padding: 0;

    .container {
        padding: 0;
        max-width: 100%;
    }

    .logo {
        margin: 0;
        float: left;
        padding-left: max(env(safe-area-inset-left, 0px), 2rem);
        font-size: 1em;
        line-height: 3em;
    }
}

.js .header {
    height: 3em;
}

/***************
POST STYLING
***************/
blockquote {
    clear: both;
    border-left: 2px solid #2e8b57;
    margin: 1em auto;
    padding: 0 1em;
    line-height: 1.8;
    position: relative;
}

.post--full {
    .meta {
        text-align: center;
        list-style: none;
        padding: 0;

        dt {
            @extend %sr-only;
        }

        dd {
            display: inline;

            & ~ dd:before {
                content: " | ";
            }
        }
    }

    img {
        margin-bottom: 2rem;
    }

    div.highlighter-rouge {
        margin: 0 -20px;
    }

    li div.highlighter-rouge {
        margin-left: -60px;
    }

    .image--featured {
        position: relative;
        margin-top: 2rem;

        img {
            margin-bottom: 0;
        }
    }
}

.comments {
    padding: 0;

    li {
        list-style-type: none;
        border: 1px solid #aaa;
        padding: 0.5em 0.75em;
        margin-bottom: 1em;

        .avatar {
            width: 80px;
            float: left;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        .comment {
            white-space: pre-line;
            width: 100%;
            clear: left;
            margin-bottom: 0;
        }
    }
}

.post__comments .reply {
    @extend %screen-only;
}

form.reply {
    margin: 0 auto;
}

.footnotes {
    font-size: 0.9rem;

    ol {
        padding-left: 1rem;
    }

    li > p {
        width: inherit;
    }

    .reversefootnote {
        @extend %screen-only;
        font-family: monospace;
        font-size: 1.5em; // for hit area
    }
}


/***************
POST NAV STYLING
***************/
.post__nav {
    @extend %screen-only;
    overflow: hidden;

    .prev, .next {
        display: block;
        width: 100%;
        height: 5rem;
        overflow: hidden;
        position: relative;
        font-size: .9em;
        text-transform: uppercase;
        text-align: center;

        img {
            z-index: 1;
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 100%;
            height: auto;
        }

        span {
            z-index: 10;
            position: relative;
            padding: .5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            line-height: 1.4;
        }

        &.image {
            text-decoration: none;
            padding: 0 .5rem;
            position: relative;
            transition: all 0.2s ease-in-out;
        }

        &:hover {
            &.image {
                opacity: .8;
            }
        }
    }

    .prev {
        span {
            left: 0;
        }
    }

    .next {
        span {
            right: 0;
        }
    }
}


/***************
FOOTER STYLING
***************/
footer {
    text-align: center;
    margin: 0 0 2rem;
    clear: both;

    .container {
        border-top: 4px solid darken(white, 15%);
        padding: .5em 0;
        max-width: 90%;
    }

    .copy {
        font-size: .8em;
        margin-bottom: 1rem;

        .powered {
            @media screen {
                display: block;
            }
        }

        .source-link {
            @extend %screen-only;
        }
    }

    .footer-links {
        @extend %screen-only;
        font-size: 1.3em;

        ul {
            text-align: center;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin: 0 1px;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}


/***************
PAGINATION STYLING
***************/

.pagination {
    @extend %screen-only;
    padding-bottom: 3em;

    .button--outline {
        width: auto;
    }

    .next {
        float: left;
    }

    .previous {
        float: right;
    }
}


/***************
POST LIST STYLING
***************/
.date {
    font-size: .8em;
}

.posts {
    .post--excerpt {
        margin-bottom: 4rem;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            bottom: -2rem;
            left: 0;
            background: darken(white, 10%);
            height: 2px;
            width: 60px;
        }

        h3 {
            margin: 0 0 .5em;

            a {
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
