{% capture date_slug %}{{ page.date | date: '%Y-%m-%d' }}-{{ page.slug }}{% endcapture %}
{% if site.data.comments[date_slug] %}
<h2>{{ site.data.comments[date_slug] | size }} Comments</h2>

<ol class="comments">
{% assign comments = site.data.comments[date_slug] | sort: date %}
{% for comment_data in comments %}
{% assign comment = comment_data[1] %}
<li id="comment-{{ comment._id }}">
<img class="avatar" src="https://www.gravatar.com/avatar/{{ comment.email | default: 0 }}?d=mm" />
<cite>{{ comment.name }}</cite>
<p class="time">{{ comment.date | date: '%e %B %Y %H:%M' }}</p>
<p class="comment">{{ comment.comment | smartify }}</p>
</li>
{% endfor %}
</ol>
{% endif %}

{% include new_comment.html %}
