<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">{{ site.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}</a>
        </div>
        <nav class="nav-collapse">
            <ul class="noList">
                 {% assign page_url = page.url | prepend: site.baseurl %}
                 {% for link in site.navigation %}{% assign current = nil %}{% if page_url contains link.url and link.url != '/' or page.url == '/' %}{% assign current = 'current' %}{% endif %}
                 <li class="element {% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                     <a href="{{ link.url }}">{{ link.title }}</a>
                 </li>
                 {% endfor %}
            </ul>
        </nav>
    </div>
</header>
