<h2>Leave a Reply</h2>

<form class="reply" method="POST" action="https://api.staticman.net/v2/entry/{{ site.github.repository_nwo }}/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ page.url | absolute_url }}">
  <input name="options[title]" type="hidden" value="{{ page.title | escape }}">
  <input name="options[slug]" type="hidden" value="{{ page.date | date: '%Y-%m-%d' }}-{{ page.slug }}">

  <label for="comment-name">Name</label>
  <input autocomplete="name" id="comment-name" name="fields[name]" type="text"><br />

  <label for="comment-email">Email Address</label>
  <input autocomplete="email" id="comment-email" name="fields[email]" type="email"><br />

  <label class="hp" for="comment-url">Homepage (&#x6C;&#x65;&#x61;&#x76;&#x65;&#x20;&#x62;&#x6C;&#x61;&#x6E;&#x6B;&#x20;&#x69;&#x66;&#x20;&#x68;&#x75;&#x6D;&#x61;&#x6E;)</label>
  <input class="hp" id="comment-url" name="fields[url]" type="url" tabindex="-1" autocomplete="off"><br class="hp" />

  <label for="comment-message">Message</label>
  <textarea id="comment-message" name="fields[comment]"></textarea><br />

  <input class="button" type="submit" value="Post Comment">
</form>
