{% if page.script -%}
  {% for script in page.script -%}
    <script nonce="" src="{% if script contains '://' -%}
      {{ script }}
    {%- else -%}
      {{ script | relative_url }}{% include v.html %}
    {%- endif %}"></script>
  {% endfor -%}
{% endif -%}

<script defer="defer" nonce="" src="{% include mainurl.html %}/assets/js/scripts.js{% include v.html id='scripts' %}"></script>
{%- if page.maths -%}
<script>
MathJax = {
  options: {
    enableEnrichment: false,
  },
};
</script>
<script defer="defer" nonce="" src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>
{%- endif -%}
{%- if page.search -%}
<script defer="defer" nonce="" src="{% include mainurl.html %}/assets/js/lunr.js{% include v.html id='lunr' %}"></script>
<script defer="defer" nonce="" src="{% include mainurl.html %}/assets/js/search.js{% include v.html id='search' %}"></script>
{%- endif -%}
