{%- assign site_title = site.title | markdownify | strip_html | strip -%}
{%- assign page_title = page.title | markdownify | strip_html | strip -%}
{%- assign page_description = page.description | default: page.excerpt | markdownify | strip_html | strip | normalize_whitespace -%}
{%- if page.layout == 'error' -%}
  {%- assign lines = page.content | normalize_whitespace | split: '. ' -%}
  {%- capture page_description -%}
    {%- for line in lines -%}
      {%- if line contains '? ' -%}
        {%- assign sentences = line | split: '? ' -%}
        {%- for sentence in sentences -%}
          {{ sentence | capitalize }}
          {%- unless forloop.last -%}? {% endunless -%}
        {%- endfor -%}
      {%- else -%}
        {{ line | capitalize }}
      {%- endif -%}
      {%- unless forloop.last -%}. {% endunless -%}
    {%- endfor -%}
  {%- endcapture -%}
{%- endif -%}
{%- if page_description.size > 120 -%}
  {%- assign splitters = '.;:!' | split: '' -%}
  {%- for char in splitters -%}
    {%- assign splitter = char | append: ' ' -%}
    {%- if page_description.size > 120 and page_description contains splitter -%}
      {%- assign page_description = page_description | split: splitter | first | append: "." -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
{%- assign site_description = site.description | markdownify | strip_html | strip | normalize_whitespace -%}
{%- if page.paginated and paginator.page > 1 %}{% assign title_pagination = paginator.page | prepend: 'Page ' | append: ' • ' %}{% endif -%}

{%- capture meta_image_url -%}
{{ site.url }}
{%- if page.image.meta.main_repo -%}
  {%- include mainurl.html -%}
{%- else -%}
  {{ site.baseurl }}
{%- endif -%}
{{ page.image.meta.src | default: '/assets/img/tiki-square.jpg' }}
{%- endcapture -%}

    <meta content="{{ page_description | default: site_description }}" name="description">
    <title>{{ page_title | prepend: title_pagination }}{% unless page.supress_site_title %}{% if page.title %} • {% endif %}{{ site_title }}{% endunless %}</title>

    <meta content="{{ site_title }}" property="og:site_name">
    <meta content="{{ page_title | default: site_title | prepend: title_pagination }}" property="og:title">
    <meta content="{{ include.locale }}" property="og:locale">
    {% if page.title or page.og_type -%}
      <meta content="{{ page.og_type | default: 'article' }}" property="og:type">
    {% else -%}
      <meta content="website" property="og:type">
    {% endif -%}

    {% if page.og_type == 'profile' -%}
    <script type="application/ld+json">{
      "@context": "https://schema.org",
      "@type": "ProfilePage",
      "mainEntity": {
        "@type": "Person",
        "name": "Chris Buckley",
        "image": "{{ site.url }}/assets/img/headshot.jpg"
      }
    }</script>
    {% endif -%}

    <meta content="{{ page_description | default: site_description }}" property="og:description">
    {% if page.url -%}
      <meta content="{{ page.url | replace:'index.html','' | absolute_url }}" property="og:url">
    {% endif -%}

    {%- if page.last_modified_at or page.date %}
    <meta content="{{ page.last_modified_at | default: page.date | date_to_rfc822 }}" http-equiv="Last-Modified">
      {%- if page.date %}
      <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
      {%- endif %}

      {%- if page.last_modified_at %}
      <meta content="{{ page.last_modified_at | date_to_xmlschema }}" property="article:modified_time">
      {%- endif %}
    {%- endif %}
    <meta content="{{ meta_image_url }}" property="og:image">
    <meta content="{{ page.image.meta.alt | default: 'Chris on the Tiki Trail in Queenstown, NZ' | smartify }}" property="og:image:alt">

    <meta content="summary{% if page.image.meta.large %}_large_image{% endif %}" name="twitter:card">
    <meta content="@{% include social.html id='twitter' %}" name="twitter:site">
    <meta content="@{% include social.html id='twitter' %}" name="twitter:creator">
    {% if page.title -%}
      <meta content="{{ page_title | prepend: title_pagination }}" name="twitter:title">
    {% else -%}
      <meta content="{{ site_title }}" name="twitter:title">
    {% endif -%}

    {% if page.url -%}
      <meta content="{{ page.url | replace:'index.html','' | absolute_url }}" name="twitter:url">
    {% endif -%}

    <meta content="{{ page_description | default: site_description }}" name="twitter:description">
    <meta content="{{ meta_image_url }}" name="twitter:image:src">
    <meta content="{{ page.image.meta.alt | default: 'Chris on the Tiki Trail in Queenstown, NZ' }}" name="twitter:image:alt">
    {%- if page.layout == 'post' %}
      <meta content="Reading Time" name="twitter:label1">
      <meta content="{{ page.content | number_of_words | divided_by: 120.0 | ceil }} min" name="twitter:data1">

      {%- if page.categories.size > 0 %}
      <meta content="Categories" name="twitter:label2">
      <meta content="{{ page.categories | join: ', ' }}" name="twitter:data2">
      {%- endif %}
    {%- endif %}

    <link rel="alternate" type="application/rss+xml" title="Blog Feed" href="{{ site.url }}/feed/">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="pgpkey" type="application/pgp-keys" href="https://keybase.io/{% include social.html id='keybase' %}/pgp_keys.asc">
    {% if page.shortlink -%}
      <link rel="shortlink" href="{{ site.shorturl }}{{ page.shortlink | prepend: '/' | replace: '//', '/' }}">
    {% endif -%}
