{% assign gh_pages = site.github.public_repositories | where_exp:'r','r.has_pages == true' | where_exp:'r','r.fork == false' | where_exp:'r','r.private == false' %}
{% if gh_pages.size %}
<h2>Showcase</h2>

{%- if include.define -%}
{%- assign list="dl" -%}
{%- assign item="dt" -%}
{%- else -%}
{%- assign list="ul" -%}
{%- assign item="li" -%}
{%- endif -%}

<{{ list }}>
  {% for gh_page in gh_pages -%}{%- unless gh_page.name == site.github.repository_name -%}
  {%- if gh_page.homepage == '' or gh_page.homepage == nil or gh_page.homepage contains site.url -%}

  <{{ item }}>
    <a href="{{ gh_page.name | prepend: '/' | append: '/' }}">{{ gh_page.name | markdownify | remove: '<p>' | remove: '</p>' | strip }}</a>
  </{{ item }}>

  {%- if include.define %}
  <dd>{{ gh_page.description | markdownify | remove: '<p>' | remove: '</p>' | strip }}</dd>
  {% endif -%}

  {%- endif -%}
  {%- endunless -%}{%- endfor %}
</{{ list }}>
{% endif -%}

{%- if include.external %}
<h2>Portfolio</h2>
<{{ list }}>
  {% for gh_page in gh_pages -%}{%- unless gh_page.name == site.github.repository_name -%}
  {%- unless gh_page.homepage == '' or gh_page.homepage == nil or gh_page.homepage contains site.url -%}

  <{{ item }}>
    <a href="{{ gh_page.homepage }}">{{ gh_page.name | markdownify | remove: '<p>' | remove: '</p>' | strip }}</a>
  </{{ item }}>

  {%- if include.define %}
  <dd>{{ gh_page.description | markdownify | remove: '<p>' | remove: '</p>' | strip }}</dd>
  {% endif -%}

  {%- endunless -%}
  {%- endunless -%}{%- endfor %}
</{{ list }}>
{% endif %}
