// Text Selection Styling
::-moz-selection {
    background: var(--color-primary);
    color: var(--color-btn-fg);
}

// these are separate because Chrome doesn't like them being on the same selector
::selection {
    background: var(--color-primary);
    color: var(--color-btn-fg);
}

body {
    background-color: var(--color-bg);
    color: var(--color-fg);
    font-family: $serif;
}

figure {
    figcaption {
        color: var(--color-caption);
        font-style: italic;
    }
}

ins {
    background-color: var(--color-ok-highlight);
    text-decoration: none;
}

del {
    background-color: var(--color-error-highlight);
}

mark {
    background-color: var(--color-mark);
    color: inherit;
}

dt {
    font-weight: bold;
}


/***************
LINK STYLING
***************/

a {
    color: var(--color-primary);

    &:hover {
        color: var(--color-primary-hover);
    }
}

@media print {
    a {
        color: inherit;
        text-decoration: none;
    }
}


/***************
MENU STYLING
***************/

.nav-collapse {
    ul li {
        background: var(--color-primary);
        border-bottom: 2px solid var(--color-nav-separator);

        a {
            color: var(--color-btn-fg);
        }
    }
}

.nav-toggle {
    font-family: $serif;
    color: var(--color-btn-fg);
    background-color: var(--color-primary);

    &:hover {
        color: var(--color-btn-fg);
        background-color: var(--color-primary-hover);
    }
}


/***************
HEADER STYLING
***************/

.header {
    color: var(--color-overlay-fg);
    background-color: var(--color-primary);

    .logo {
        font-family: $sans-serif;
        font-weight: 800;
        text-transform: uppercase;

        a {
            color: var(--color-overlay-fg);
            text-decoration: none;
        }
    }

    nav a {
        color: var(--color-btn-fg);

        &:hover {
            color: var(--color-btn-fg-hover);
        }
    }
}

@media screen {
    .header .logo {
        text-shadow: var(--color-overlay-shadow) 0px 0px 10px;
    }
}

@media print {
    .header .logo a {
        color: var(--color-fg);
    }
}


/***************
POST STYLING
***************/
.date, .meta, .note {
    color: var(--color-meta);
    font-weight: 300;
}

.date, .meta {
    font-family: $sans-serif;
}

.img--shadow {
    filter: drop-shadow(0 0 0.25rem var(--color-fg));
}

blockquote {
    color: var(--color-caption);
}

.comments li {
    background-color: var(--color-comments-bg);

    &:target {
        border-color: var(--color-primary);
        box-shadow: 0 0 3px 0.2em var(--color-comments-target);
    }

    &.author {
        background-color: var(--color-comments-author-bg);

        .date {
            color: var(--color-comments-author-meta);
        }
    }

    .comment__link {
        color: var(--color-meta);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}


/***************
POST NAV STYLING
***************/
.post__nav {
    .prev, .next {
        font-family: $sans-serif;
        font-weight: 800;

        &.image {
            color: var(--color-overlay-fg);
            text-shadow: 1px 1px 3px var(--color-overlay-shadow);
        }
    }
}


/***************
ICON STYLING
***************/
svg.icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
