// Text Selection Styling
::-moz-selection {
    background: $primary-color;
    color: white;
}

// these are separate because Chrome doesn't like them being on the same selector
::selection {
    background: $primary-color;
    color: white;
}

body {
    color: $blackish;
    font-family: $serif;
}

figure {
    figcaption {
        color: $grey;
        font-style: italic;
    }
}

dt {
    font-weight: bold;
}


/***************
LINK STYLING
***************/

a {
    color: $link-color;

    &:hover {
        color: darken($link-color, 15%);
    }
}


/***************
MENU STYLING
***************/

.nav-collapse {
    ul li {
        background: $background-color;
        border-bottom: 2px solid lighten($background-color, 5%);

        a {
            color: white;
        }
    }
}

.nav-toggle {
    font-family: $serif;
    color: white;
    background-color: $background-color;

    &:hover {
        color: white;
        background-color: darken($background-color, 10%);
    }
}


/***************
HEADER STYLING
***************/

.header {
    color: white;
    background-color: $background-color;

    .logo {
        font-family: $sans-serif;
        font-weight: 800;
        text-transform: uppercase;

        a {
            color: white;
            text-decoration: none;
        }
    }

    nav a {
        color: white;

        &:hover {
            color: darken(white, 20%);
        }
    }
}

@media screen {
    .header .logo {
        text-shadow: black 0px 0px 10px;
    }
}

@media print {
    .header .logo a {
        color: black;
    }
}


/***************
POST STYLING
***************/
.date, .meta {
    color: $subtle-color;
    font-family: $sans-serif;
    font-weight: 300;
}

blockquote {
    color: $grey;
}

.comments li {
    background-color: #fcfcfc;
}


/***************
POST NAV STYLING
***************/
.post__nav {
    .prev, .next {
        font-family: $sans-serif;
        font-weight: 800;

        &.image {
            color: white;
            text-shadow: 1px 1px 3px rgba(0,0,0,.8);
        }
    }
}


/***************
ICON STYLING
***************/
svg.icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}
