// Screen reader only content
%sr-only {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    height: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
    outline: 0;
}

%loading {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid #e6e6e6;
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: loading 1s ease infinite;
    display: block;
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
