// Content that's visually hidden but should still be part
// of the flow - used for screen readers / reader mode
%flow-hidden {
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 0;
    display: block;
    width: 1px;
    font-size: 1px;
    line-height: 1px;
    overflow: hidden;
    border: 0;
    outline: 0;
}

%loading {
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid var(--color-loading);
    border-top-color: var(--color-primary);
    border-radius: 50%;
    animation: loading 1s ease infinite;
    display: block;
}

%screen-only {
    @media print {
        display: none;
    }
}

@keyframes loading {
    to {
        transform: rotate(1turn);
    }
}
