@use "sass:color";
@use "sass:map";
@use "sass:meta";

/***************
COLOR VARIABLES
***************/

// Better default colors
// Cool
$aqua:  #7fdbff;
$blue:  #0074d9;
$navy:  #001f3f;
$teal:  #39cccc;
$green: #2c8654;
$olive: #3d9970;
$lime:  #01ff70;
// Warm
$yellow:  #ffdc00;
$orange:  #ff851b;
$red:     #de2d22;
$fuchsia: #f012be;
$purple:  #b10dc9;
$maroon:  #85144b;
// Gray Scale
$white:    #fff;
$offwhite: #f7f7f7;
$silver:   #7d7d7d;
$grey:     #5e5e5e;
$blackish: #111;

// Color variables
$primary-color: #2c8654;
$secondary-color: #233e5b;
$tertiary-color: #aaa;

$dark-primary-color: #669245;
$dark-secondary-color: #1f7ce0;
$dark-tertiary-color: #aaa;


/***************
THEMING
***************/

$theme: (
    default: (
        bg: $white,
        fg: $blackish,
        meta: $silver,
        caption: $grey,

        btn-fg: $white,
        btn-fg-hover: color.scale($white, $lightness: -20%),
        overlay-fg: $white,
        overlay-shadow: black,
        nav-active: color.change($white, $alpha: 0.4),
        nav-separator: color.scale($primary-color, $lightness: 5%),
        separator: color.scale($white, $lightness: -15%),

        input-bg: #e6e6e6,
        input-fg: #333,
        loading: #e6e6e6,

        comments-bg: $offwhite,
        comments-border: $tertiary-color,
        comments-target: color.scale($primary-color, $lightness: 75%),
        comments-author-bg: color.scale($primary-color, $lightness: 95%),
        comments-author-meta: $grey,

        table-bg-alt: $offwhite,
        mark: rgba(90, 173, 128, 0.4), // @todo was this from the primary color?
        kbd-border: #b4b4b4,
        kbd-shadow: (0 1px 1px rgba(0, 0, 0, 0.2),
                    0 2px 0 0 rgba(255, 255, 255, 0.7) inset),

        primary:   $primary-color,
        secondary: $secondary-color,
        tertiary:  $tertiary-color,

        error:   $red,    // Bad color for errors, validation etc.
        warning: $orange, // Warning color for less serious warning messages.
        ok:      $green,  // Good color for success etc.
        info:    $blue,   // Information level color.

        code-bg:       #272822,
        code-fg:       #f8f8f2,
        code-comment:  #949076,
        code-keyword:  #66d9ef,
        code-literal:  #ae81ff,
        code-name:     #a6e22e,
        code-operator: #f94e8a,
        code-string:   #e6db74,
    ),
    dark: (
        bg: $blackish,
        fg: color.scale($offwhite, $lightness: -15%),
        meta: color.scale($silver, $lightness: 10%),
        caption: #a1a1a1,

        btn-fg: $blackish,
        btn-fg-hover: black,
        nav-separator: color.scale($dark-primary-color, $lightness: -5%),

        input-bg: #333,
        input-fg: #999,
        loading: #222,

        comments-bg: #191a1c,
        comments-border: $dark-tertiary-color,
        comments-target: color.scale($dark-primary-color, $lightness: 75%),
        comments-author-bg: color.scale($dark-primary-color, $lightness: -80%),
        comments-author-meta: color.scale($silver, $lightness: 10%),

        table-bg-alt: #191a1c,
        mark: color.change($dark-primary-color, $alpha: 0.3),
        kbd-border: #555,
        kbd-shadow: (0 1px 1px rgba(127, 127, 127, 0.4),
                    0 1px 0 0 rgba(255, 255, 255, 0.3) inset),

        primary:   $dark-primary-color,
        secondary: $dark-secondary-color,
        tertiary:  $dark-tertiary-color,
    ),
);

@each $message-type in 'error', 'warning', 'info', 'ok' {
    $default-theme: map.get($theme, default);

    $theme: map.deep-merge($theme, (default: (
        #{$message-type}-bg: color.change(map.get($default-theme, $message-type), $alpha: 0.08),
        #{$message-type}-highlight: color.change(map.get($default-theme, $message-type), $alpha: 0.5),
        #{$message-type}-fg-hover: color.scale(map.get($default-theme, $message-type), $lightness: -15%),
    )));
}

@each $button-type in 'primary', 'secondary', 'tertiary' {
    $default-theme: map.get($theme, default);
    $dark-theme: map.get($theme, dark);

    $theme: map.deep-merge($theme, (default: (
        #{$button-type}-fg: color.scale(map.get($default-theme, $button-type), $lightness: -10%),
        #{$button-type}-hover: color.scale(map.get($default-theme, $button-type), $lightness: -10%),
    ), dark: (
        #{$button-type}-fg: color.scale(map.get($dark-theme, $button-type), $lightness: 10%),
        #{$button-type}-hover: color.scale(map.get($dark-theme, $button-type), $lightness: 10%),
    )));
}


/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.


/***************
TYPE SETTINGS
***************/

$sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$serif: "PT Serif", Georgia, Times, serif;


/***************
ROOT VARIABLES
***************/

:root {
    @each $key, $value in map.get($theme, default) {
        --color-#{$key}: #{$value};
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @each $key, $value in map.get($theme, dark) {
            --color-#{$key}: #{$value};
        }
    }
}
