body.cv .content {
    font-size: 85%;
}

// YouTube videos
.yt {
    margin: 0 auto 1em;
    display: block;
    width: 560px;
    height: 315px;
}

// HTTP error messages
.http-error {
    text-align: center;
    white-space: pre;
    font-style: italic;
}

.warning {
    border: 3px solid $warning-color;
    color: $warning-color;
    padding: 0 0.3em;
}
