// YouTube videos
.yt {
    margin: 0 auto 1em;
    display: block;
    width: 560px;
    height: 315px;
    border: none;
}

// HTTP error messages
.http-error p, .poem {
    text-align: center;
    font-style: italic;
}

.sitemap .last-modified {
    color: #888;
    white-space: nowrap;
    font-size: 70%;
}

mark {
    background-color: rgba(90, 173, 128, 0.4);
    color: inherit;
}

.key-focussed {
    outline: 3px solid $primary-color;
}

.sr-only {
    @extend %sr-only;
}

.search-results:empty {
    @extend %loading;
    margin: 0 auto 1.5em;
}

/*@media print {
    main {
        counter-reset: links;
        position: relative;
    }

    main a {
        counter-increment: links;

        &::after {
            font-size: 50%;
            vertical-align: super;
            content: " [" counter(links) "]";
        }

        &::before {
            content: "[" counter(links) "]: " attr(href);
            position: absolute;
            left: 0;
        }

        @for $a from 1 through 20 {
            &:nth-of-type(#{$a})::before {
                $b: $a * 1em;
                bottom: -5em - $b;
            }
        }
    }
}*/
