// YouTube videos
.yt {
    margin: 0 auto 1em;
    display: block;
    width: 560px;
    height: 315px;
    border: none;
}

// HTTP error messages
.http-error p, figure.poem {
    text-align: center;
    white-space: pre-line;
    font-style: italic;
}

.sitemap .last-modified {
    color: #888;
    white-space: nowrap;
    font-size: 70%;
}

mark {
    background-color: rgba(90, 173, 128, 0.4);
    color: inherit;
}

.key-focussed {
    outline: 3px solid $primary-color;
}

.sr-only {
    @extend %sr-only;
}
