// YouTube videos
.yt {
    margin: 0 auto 1em;
    display: block;
    width: 560px;
    height: 315px;
    border: none;
}

// HTTP error messages
.http-error p, .poem {
    text-align: center;
    font-style: italic;
}

.sitemap .last-modified {
    color: var(--color-meta);
    white-space: nowrap;
    font-size: 70%;
}

mark {
    background-color: var(--color-mark);
    color: inherit;
}

// screen reader only - totally clipped
.sr-only {
    @extend %flow-hidden;
    height: 1px;
    clip-path: inset(50%);
}

// reading mode - comply with Safari extraction logic
.rm-only {
    @extend %flow-hidden;
    left: 0.1px;
    height: 1.1px;
}

.search-results:empty {
    @extend %loading;
    margin: 0 auto 1.5em;
}

.img--shadow {
    filter: drop-shadow(0 0 0.25rem var(--color-fg));
}
