@use "../config";
@use "../partials/device";
@use "../partials/mixins";

/***************
FORM STYLING
***************/

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text],
input[type=email],
input[type=phone],
input[type=password],
input[type=number],
input[type=search],
textarea {
    font-size: 18px;
    font-family: config.$serif;
    color: var(--color-input-fg);
    background: var(--color-input-bg);
    border: 1px solid var(--color-input-bg);
    border-radius: 4px;
    -webkit-appearance: none;
    padding: 5px;
    outline: none;
    height: config.$line-height;
    width: 300px;
    margin-bottom: .5rem;

    &:focus {
        border-color: var(--color-primary);
    }

    .interacted &:invalid, &:user-invalid {
        border-color: var(--color-error);
    }

    &.full-width {
        width: 100%;
    }
}
textarea {
    height: config.$line-height * 3;
}

form {
    @include mixins.screen-only;
    margin-bottom: config.$padding;

    // Wrap each form input/element in a field div
    .field {
        margin-bottom: calc(config.$padding / 2);
    }

    // Notes go under the input fields
    .note {
        margin-top: 5px;
        color: var(--color-meta);
    }

    // Required label
    .req {
        font-style: italic;
    }

    // Validation, add error class to the item div
    .error .reason {
        margin-top: 5px;
        color: var(--color-error);
    }

    :disabled {
        opacity: 40%;
        cursor: not-allowed;
    }
}

@media only screen and (max-width: 499px) {
    form .button {
        width: 100%;
    }
}

.search {
    width: 350px;
    margin: -1em auto 1em;

    input[type=search] {
        background: none;
        border: none;
        border-bottom: 1px solid;
        border-radius: 0;
    }

    @include device.min("tablet") {
        margin: -2em auto 2em;
    }
}

.grecaptcha-badge {
    visibility: hidden;
}

.post--full .recaptcha-message {
    margin: 0 0 1em;
    font-size: 65%;
    width: 100%;
}

.form__notification {
    font-size: 0.7em;
    display: inline-block;
    vertical-align: middle;

    .form--success & {
        color: var(--color-ok);
    }

    .form--error & {
        color: var(--color-error);
    }

    .form--loading &::after {
        @include mixins.loading;
        display: inline-block;
    }
}

/***************
CONTACT PAGE STYLING
***************/
@include device.min("desktop") {
    .contact__content {
        max-width: 48%;
        margin-right: 2%;
        float: left;
    }

    .contact__form {
        max-width: 48%;
        width: 48%;
        float: right;
        margin-right: 0;
    }
}
