// Solarized Dark high-contrast
// Inspiration from https://maxchadwick.xyz/blog/syntax-highlighting-and-color-contrast-accessibility

$code-background: #002b36;
$code-default:    #93a1a1;
$code-comment:    #759299;
$code-keyword:    #859900;
$code-name:       #3294da;
$code-const:      #e9662f;
$code-string:     #2aa198;
$code-type:       #e8625f;
$code-builtin:    #b58900;

pre.highlight {
    white-space: pre;
    overflow: auto;
    word-wrap: normal; // horizontal scrolling
    padding: 5px;
    margin: 0 0 2rem;
    background: $code-background;
    color: $code-default;
    font-size: 90%;

    .err { color: $code-default; }
    .c  { color: $code-comment; }
    .g  { color: $code-default; }
    .k  { color: $code-keyword; }
    .l  { color: $code-default; }
    .n  { color: $code-default; }
    .o  { color: $code-keyword; }
    .x  { color: $code-const; }
    .p  { color: $code-default; }
    .cm { color: $code-comment; }
    .cp { color: $code-keyword; }
    .c1 { color: $code-comment; }
    .cs { color: $code-keyword; }
    .gd { color: $code-string; }
    .ge { color: $code-default; font-style: italic; }
    .gr { color: $code-type; }
    .gh { color: $code-const; }
    .gi { color: $code-keyword; }
    .go { color: $code-default; }
    .gp { color: $code-default; }
    .gs { color: $code-default; font-weight: bold; }
    .gu { color: $code-const; }
    .gt { color: $code-default; }
    .kc { color: $code-const; }
    .kd { color: $code-name; }
    .kn { color: $code-keyword; }
    .kp { color: $code-keyword; }
    .kr { color: $code-keyword; }
    .kt { color: $code-type; }
    .ld { color: $code-default; }
    .m  { color: $code-string; }
    .s  { color: $code-string; }
    .na { color: $code-builtin; }
    .nb { color: $code-builtin; }
    .nc { color: $code-name; }
    .no { color: $code-const; }
    .nd { color: $code-name; }
    .ni { color: $code-const; }
    .ne { color: $code-const; }
    .nf { color: $code-name; }
    .nl { color: $code-default; }
    .nn { color: $code-default; }
    .nx { color: $code-default; }
    .py { color: $code-default; }
    .nt { color: $code-keyword; }
    .nv { color: $code-name; }
    .ow { color: $code-keyword; }
    .w  { color: $code-default; }
    .mf { color: $code-string; }
    .mh { color: $code-string; }
    .mi { color: $code-string; }
    .mo { color: $code-string; }
    .sb { color: $code-comment; }
    .sc { color: $code-string; }
    .sd { color: $code-default; }
    .s2 { color: $code-string; }
    .se { color: $code-const; }
    .sh { color: $code-default; }
    .si { color: $code-string; }
    .sx { color: $code-string; }
    .sr { color: $code-type; }
    .s1 { color: $code-string; }
    .ss { color: $code-string; }
    .bp { color: $code-name; }
    .vc { color: $code-name; }
    .vg { color: $code-name; }
    .vi { color: $code-name; }
    .il { color: $code-string; }
}
