// Monokai high-contrast
// Inspiration from https://maxchadwick.xyz/blog/syntax-highlighting-and-color-contrast-accessibility

pre.highlight {
    white-space: pre;
    overflow: auto;
    word-wrap: normal; // horizontal scrolling
    padding: 5px;
    margin: 0 0 2rem;
    background: var(--color-code-bg);
    color: var(--color-code-fg);
    font-size: 90%;
    line-height: normal;

    // generic
    .err { color: var(--color-code-fg); } // Error
    .g  { color: var(--color-code-fg); } // Generic
    .ge { color: var(--color-code-fg); font-style: italic; } // Generic.Emph
    .gr { color: var(--color-code-fg); } // Generic.Error
    .gh { color: var(--color-code-fg); } // Generic.Heading
    .go { color: var(--color-code-fg); } // Generic.Output
    .gp { color: var(--color-code-fg); } // Generic.Prompt
    .gs { color: var(--color-code-fg); font-weight: bold;  } // Generic.Strong
    .gu { color: var(--color-code-fg); } // Generic.Subheading
    .gt { color: var(--color-code-fg); } // Generic.Traceback
    .gl { color: var(--color-code-fg); } // Generic.Lineno
    .n  { color: var(--color-code-fg); } // Name
    .bp { color: var(--color-code-fg); } // Name.Builtin
    .nb { color: var(--color-code-fg); } // Name.Entity
    .ni { color: var(--color-code-fg); } // Name.Label
    .nl { color: var(--color-code-fg); } // Name.Namespace
    .nn { color: var(--color-code-fg); } // Name.Property
    .py { color: var(--color-code-fg); } // Name.Variable
    .w  { color: var(--color-code-fg); } // Name.Builtin.Pseudo
    .vc { color: var(--color-code-fg); } // Name.Variable.Class
    .vg { color: var(--color-code-fg); } // Name.Variable.Global
    .vi { color: var(--color-code-fg); } // Name.Variable.Instance
    .vm { color: var(--color-code-fg); } // Name.Variable.Magic
    .x  { color: var(--color-code-fg); } // Other
    .p  { color: var(--color-code-fg); } // Punctuation
    .pi { color: var(--color-code-fg); } // Punctuation.Indicator
    .nv { color: var(--color-code-fg); } // Text.Whitespace

    // comments
    .c  { color: var(--color-code-comment); } // Comment
    .cd { color: var(--color-code-comment); } // Comment.Doc
    .ch { color: var(--color-code-comment); } // Comment.Hashbang
    .cm { color: var(--color-code-comment); } // Comment.Multiline
    .cp { color: var(--color-code-comment); } // Comment.Preproc
    .c1 { color: var(--color-code-comment); } // Comment.Single
    .cs { color: var(--color-code-comment); } // Comment.Special

    // keyword
    .k  { color: var(--color-code-keyword); } // Keyword
    .kc { color: var(--color-code-keyword); } // Keyword.Constant
    .kd { color: var(--color-code-keyword); } // Keyword.Declaration
    .kp { color: var(--color-code-keyword); } // Keyword.Pseudo
    .kr { color: var(--color-code-keyword); } // Keyword.Reserved
    .kt { color: var(--color-code-keyword); } // Keyword.Type
    .kv { color: var(--color-code-keyword); } // Keyword.Variable

    // literal
    .l  { color: var(--color-code-literal); } // Literal
    .m  { color: var(--color-code-literal); } // Literal.Number
    .mb { color: var(--color-code-literal); } // Literal.Number.Bin
    .mf { color: var(--color-code-literal); } // Literal.Number.Float
    .mh { color: var(--color-code-literal); } // Literal.Number.Hex
    .mi { color: var(--color-code-literal); } // Literal.Number.Integer
    .il { color: var(--color-code-literal); } // Literal.Number.Integer.Long
    .mo { color: var(--color-code-literal); } // Literal.Number.Oct
    .mx { color: var(--color-code-literal); } // Literal.Number.Other
    .se { color: var(--color-code-literal); } // Literal.String.Escape

    // name
    .gi { color: var(--color-code-name); } // Generic.Inserted
    .na { color: var(--color-code-name); } // Name.Attribute
    .nc { color: var(--color-code-name); } // Name.Class
    .no { color: var(--color-code-name); } // Name.Constant
    .nd { color: var(--color-code-name); } // Name.Decorator
    .ne { color: var(--color-code-name); } // Name.Exception
    .nf { color: var(--color-code-name); } // Name.Function
    .fm { color: var(--color-code-name); } // Name.Function.Magic
    .nx { color: var(--color-code-name); } // Name.Other

    // operator
    .gd { color: var(--color-code-operator); } // Generic.Deleted
    .kn { color: var(--color-code-operator); } // Keyword.Namespace
    .nt { color: var(--color-code-operator); } // Name.Tag
    .o  { color: var(--color-code-operator); } // Operator
    .ow { color: var(--color-code-operator); } // Operator.Word

    // string
    .ld { color: var(--color-code-string); } // Literal.Date
    .s  { color: var(--color-code-string); } // Literal.String
    .sa { color: var(--color-code-string); } // Literal.String.Affix
    .sb { color: var(--color-code-string); } // Literal.String.Backtick
    .sc { color: var(--color-code-string); } // Literal.String.Char
    .dl { color: var(--color-code-string); } // Literal.String.Delimiter
    .sd { color: var(--color-code-string); } // Literal.String.Doc
    .s2 { color: var(--color-code-string); } // Literal.String.Double
    .sh { color: var(--color-code-string); } // Literal.String.Heredoc
    .si { color: var(--color-code-string); } // Literal.String.Interpol
    .sx { color: var(--color-code-string); } // Literal.String.Other
    .sr { color: var(--color-code-string); } // Literal.String.Regex
    .s1 { color: var(--color-code-string); } // Literal.String.Single
    .ss { color: var(--color-code-string); } // Literal.String.Symbol
}
