/***************
TABLE STYLES
***************/

table {
    width: 100%;
    border: 1px solid $primary-color;
    border-spacing: 0;
    margin-bottom: 1.5em;

    caption {
        margin: 0 0 7px;
        font-size: 0.75em;
        color: $grey;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

tr {
    border-bottom: 1px solid $primary-color;

    &:nth-child(even) {
        background-color: $offwhite;
    }
}

td, th {
    padding: 2px 5px;
    border-right: 1px solid $primary-color;

    &:last-child {
        border-right: 0;
    }
}

th {
    color: darken($primary-color, 10%);
    background-color: $offwhite;
    border-bottom: 1px solid $primary-color;
}
