/***************
TABLE STYLES
***************/

table {
    width: 100%;
    border: 1px solid var(--color-primary);
    border-spacing: 0;
    margin-bottom: 1.5em;
    table-layout: fixed;

    caption {
        margin: 0 0 7px;
        font-size: 0.75em;
        color: var(--color-caption);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

tr {
    border-bottom: 1px solid var(--color-primary);

    &:nth-child(even) {
        background-color: var(--color-table-bg-alt);
    }
}

td, th {
    padding: 2px 5px;
    border-right: 1px solid var(--color-primary);

    &:last-child {
        border-right: 0;
    }
}

th {
    color: var(--color-primary-fg);
    background-color: var(--color-table-bg-alt);
    border-bottom: 1px solid var(--color-primary);
}
