---
layout: default
title: Blog
description: A collection of my thoughts and activities, irregular in both frequency and quality.
paginated: true
redirect_from:
  - blog/category/uncategorized/
  - blog/category/video/
---
<h1 class="page__title">{% if paginator.page == 1 %}Recent {% endif %}Blog Posts{% if paginator.page > 1 %} (Page {{ paginator.page }}){% endif %}</h1>
{% include search.html %}
<ul class="posts list--inline" role="feed">
  {% assign current = paginator.page | minus: 1 | times: paginator.per_page | plus: 1 -%}
  {%- for post in paginator.posts -%}
    {% include post_excerpt.html total=paginator.total_posts current=current -%}
    {%- assign current = current | plus: 1 -%}
  {%- endfor -%}
</ul>

<nav class="pagination" aria-label="Pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" rel="prev" class="previous button--outline">Newer Posts</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" rel="next" class="next button--outline">Older Posts</a>
  {% endif %}
</nav>
