---
layout: default
title: Blog
paginated: true
redirect_from: /blog/category/uncategorized/
---

<div class="home" id="home">
  <h1 class="pageTitle">Recent Posts{% if page.paginated and paginator.page > 1 %} (Page {{ paginator.page }}){% endif %}</h1>
  {% include search.html %}
  <ul class="posts noList">
    {% for post in paginator.posts %}
    {% include post_excerpt.html %}
    {% endfor %}
  </ul>
  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous button__outline">Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next button__outline">Older Posts</a>
    {% endif %}
  </div>
</div>
