<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html lang="en" class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
{% include head.html %}
<body{% if page.class %} class="{{ page.class }}"{% endif %}>
   {% include header.html %}

   <div class="content">
      <div class="container">
         {{ content }}
      </div>
   </div><!-- end .content -->

   {% include footer.html %}
   {% include scripts.html %}
</body>
</html>
