---
layout: default
---
<article class="post post--full">
  {% if page.image.main -%}
  <div class="image--featured">
    <img src="{{ '/assets/img/' | relative_url | append: page.image.main.src }}" alt="{{ page.image.main.alt }}">
  </div>
  {% endif -%}

  <h1 class="page__title">{{ page.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}</h1>
  <dl class="meta">
    <dt>Post date</dt>
    <dd><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: site.data.global.format.date }}</time></dd>

    <dt>Reading time</dt>
    <dd>{{ page.content | number_of_words | divided_by:120.0 | ceil }} Minute Read</dd>

    {% if page.categories.size > 0 -%}
    <dt>Categories</dt>
    <dd>
      {%- for post_cat in page.categories -%}
        {%- assign cat = site.blog_categories | where: "name", post_cat | first -%}
        {%- if cat -%}
          <a href="{{ cat.url }}">{{ cat.name }}</a>{% unless forloop.last %}, {% endunless %}
        {%- endif -%}
      {%- endfor -%}
    </dd>
    {%- endif %}
  </dl>

  {{ content }}

  {% include comments.html prop='blog' %}

  <!-- POST NAVIGATION -->
  <div class="post__nav">
    {% if page.previous.url -%}
      <a class="prev{% if page.previous.image.main %} image{% endif %}" href="{{ page.previous.url | relative_url }}"><span>&laquo;&nbsp;{{ page.previous.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}</span>
      {% if page.previous.image.main -%}
        <img src="{{ '/assets/img/' | relative_url | append: page.previous.image.main.src }}" alt="{{ page.previous.image.main.alt }}">
      {% endif -%}
    </a>
    {% endif -%}
    {% if page.next.url -%}
      <a class="next{% if page.next.image.main %} image{% endif %}" href="{{ page.next.url | relative_url }}"><span>{{ page.next.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}&nbsp;&raquo;</span>
      {% if page.next.image.main -%}
        <img src="{{ '/assets/img/' | relative_url | append: page.next.image.main.src }}" alt="{{ page.next.image.main.alt }}">
      {% endif -%}
      </a>
    {% endif -%}
  </div>
</article>
