---
layout: default
---
<article class="post post--full">
  {% if page.image.main %}
    <div class="featuredImage">
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.image.main.src }}" alt="{{ page.image.main.alt }}" />
      </div>
  {% endif %}
  <h1 class="post__title">{{ page.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}</h1>
  <p class="meta">{{ page.date | date: '%e %B %Y' | strip }} | <span class="time">{{ page.content | number_of_words | divided_by:120.0 | ceil }}</span> Minute Read
  {% if page.categories.size > 0 %} |
    {% for post_cat in page.categories %}
      {% assign cat = site.blog_categories | where: "name", post_cat | first %}
      {% if cat %}
      <a href="{{ cat.url }}">{{ cat.name }}</a>{% unless forloop.last %}, {% endunless %}
      {% endif %}
    {% endfor %}
  {% endif %}</p>

  {{ content }}

  {% include comments.html %}

  <!-- POST NAVIGATION -->
  <div class="post__nav clearfix">
    {% if page.previous.url %}
      <a class="prev{% if page.previous.image.main %} image{% endif %}" href="{{ page.previous.url | prepend: site.baseurl }}"><span>&laquo;&nbsp;{{ page.previous.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}</span>
      {% if page.previous.image.main %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.previous.image.main.src }}" alt="{{ page.previous.image.main.alt }}">
      {% endif %}
    </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next{% if page.next.image.main %} image{% endif %}" href="{{ page.next.url | prepend: site.baseurl }}"><span>{{ page.next.title | markdownify | remove:'<p>' | remove:'</p>' | strip }}&nbsp;&raquo;</span>
      {% if page.next.image.main %}
        <img src="{{ '/assets/img/' | prepend: site.baseurl | append: page.next.image.main.src }}" alt="{{ page.next.image.main.alt }}">
      {% endif %}
      </a>
    {% endif %}
  </div>
</article>
