---
layout: page
class: showcase
nav_current: projects
---
{%- assign repo = site.github.public_repositories | where:'name',site.github.repository_name | first -%}
<div class="showcase-actions">
    {%- unless page.hide_tarball %}
    <a href="{{ site.github.repository_url }}/archive/{{ site.github.latest_release.tag_name | default: repo.default_branch }}.tar.gz" class="button--outline">{% include icons/use.html icon="file-archive-o" %} Download {{ site.github.latest_release.tag_name | default: 'Tarball' }}</a>
    {%- endunless %}
    <a href="{{ site.github.repository_url }}" class="button--outline">{% include icons/use.html icon="github" %} View on GitHub</a>
    {% if page.npm %}
    <a href="https://www.npmjs.com/package/{{ page.npm }}" class="button--outline">{% include icons/use.html icon="npm" %} View on npm</a>
    {%- endif %}

    {%- if page.build %}
    <a href="https://github.com/{{ site.github.repository_nwo }}/actions/workflows/{{ page.build }}" class="showcase__status">
      <img src="https://github.com/{{ site.github.repository_nwo }}/actions/workflows/{{ page.build }}/badge.svg" alt="Build status for {{ site.github.repository_nwo }}">
    </a>
    {%- endif %}
</div>

{{ content }}
