---
layout: page
---

{%- assign repo = site.github.public_repositories | where:'name',site.github.repository_name | first -%}
<div class="showcase-actions">
    <a href="{{ repo.html_url }}/tarball/master" class="button__outline">{% include icons/use.html icon="file-archive-o" %} Download Tarball</a>
    <a href="{{ repo.html_url }}" class="button__outline">{% include icons/use.html icon="github" %} View on GitHub</a>
    {% if page.npm %}
    <a href="https://www.npmjs.com/package/{{ page.npm }}" class="button__outline">{% include icons/use.html icon="npm" %} View on npm</a>
    {% endif %}
</div>

{{ content }}
